/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/About/about.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.about_main__hOrTa {
	height: 100vh;
	width: 100%;
	width: 95%;
	max-width: 1000px;
}

.about_main__hOrTa h2 {
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
	font-family: var(--roboto-condensed-font);
}

@media screen and (max-height: 500px) {
	.about_main__hOrTa {
		height: 110vh;
	}
}

