/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/navBar/navBar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.navBar_navBar__tJD6G {
	width: 100%;
	height: 65px;
	padding: 0px 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	overflow: hidden;
	z-index: 7;
}

.navBar_navBar__tJD6G p {
	z-index: 9;
}

.navBar_navTitle__2qeZI {
	font-size: 16px;
	z-index: 99;
	font-family: var(--roboto-condensed-font);
}

.navBar_navbar_nav_row__Vu2Ok {
	display: flex;
	gap: 21px;
	align-items: center;
	z-index: 10;
}

.navBar_navbar_nav_row__Vu2Ok a {
	font-size: 12px;
	font-weight: 500;
	font-family: var(--roboto-font);
}

.navBar_navbar_nav_row__Vu2Ok a:hover {
	opacity: 0.7;
}

.navBar_navbar_nav_row__Vu2Ok svg:hover path {
	opacity: 0.7;
}

.navBar_blurred_bg__kyDog {
	width: 100%;
	height: 65px;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.61);
	top: 0;
	margin-top: -2px;
	-webkit-filter: blur(6px);
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
	filter: blur(6px);
	position: absolute;
	z-index: 4;
}

@media screen and (max-width: 700px) {
	.navBar_navbar_nav_row__Vu2Ok {
		display: none;
	}

	.navBar_navBar__tJD6G {
		justify-content: center;
	}
}

