.navBar {
	width: 100%;
	height: 65px;
	padding: 0px 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	overflow: hidden;
	z-index: 7;
}

.navBar p {
	z-index: 9;
}

.navTitle {
	font-size: 16px;
	z-index: 99;
}

.navbar_nav_row {
	display: flex;
	gap: 21px;
	align-items: center;
	z-index: 10;
}

.navbar_nav_row a {
	font-size: 12px;
	font-weight: 500;
}

.navbar_nav_row a:hover {
	opacity: 0.7;
}

.navbar_nav_row svg:hover path {
	opacity: 0.7;
}

.blurred_bg {
	width: 100%;
	height: 65px;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.61);
	top: 0;
	margin-top: -2px;
	-webkit-filter: blur(6px);
	backdrop-filter: blur(5px);
	filter: blur(6px);
	position: absolute;
	z-index: 4;
}
