/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/contentCard/contentCard.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.contentCard_content__CyRmt,
.contentCard_about_content___6T1v {
	margin-top: 30px;
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

.contentCard_campus_img__jD1NE {
	width: 100%;
	height: auto;
	max-height: 400px;
	object-fit: cover;
}

.contentCard_content__CyRmt p {
	font-size: 28px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
}

.contentCard_text_content__fTCXF {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	gap: 5px;
}

.contentCard_text_content__fTCXF .contentCard_selected__gDGPB {
	color: white;
}

.contentCard_content_section__VGOZ7 ul li {
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	color: #ff0000;
	opacity: 0.5;
	font-weight: bold;
}

.contentCard_content_section__VGOZ7 ul {
	margin-top: 40px;
	display: flex;
	gap: 40px;
}

.contentCard_content_section__VGOZ7 ul li:hover {
	opacity: 1;
	transform: scale(1.05);
}

.contentCard_selected__gDGPB {
	opacity: 1 !important;
	color: white;
}

.contentCard_thirty__yEs2z {
	width: 40%;
	height: 100%;
}

.contentCard_seventy__LVuB_ {
	width: 60%;
	height: 100%;
}

.contentCard_thirty__yEs2z,
.contentCard_seventy__LVuB_ {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentCard_about_content___6T1v {
	display: flex;
	flex-direction: row;
}

.contentCard_img_container__cQuUc {
	display: flex;
	width: 100%;

	height: 75%;
	justify-content: center;
	align-items: center;
}

.contentCard_seventy_txt__C0EoA {
	width: 90%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contentCard_seventy_txt__C0EoA h3 {
	color: rgba(255, 255, 255, 0.5);
	font-size: 28px;
	font-weight: bold;
}

.contentCard_seventy_txt__C0EoA p {
	font-size: 19px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 30px;
}

.contentCard_seventy_txt__C0EoA .contentCard_second__xjW2R {
	margin-top: 40px;
}

.contentCard_content__CyRmt,
.contentCard_about_content___6T1v {
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
}

.contentCard_content__CyRmt:hover,
.contentCard_about_content___6T1v:hover {
	transform: scale(1.025);
}

.contentCard_self_img__tM5is {
	width: 100%;
	height: auto;
	height: 600px;
	border: 1px solid red;

	object-fit: cover;
}

@media screen and (max-width: 800px) {
	.contentCard_content__CyRmt p {
		font-size: 21px;
	}

	.contentCard_about_content___6T1v {
		flex-direction: column;
	}

	.contentCard_about_content___6T1v .contentCard_seventy_txt__C0EoA,
	.contentCard_seventy__LVuB_,
	.contentCard_about_content___6T1v .contentCard_thirty__yEs2z {
		width: 100%;
	}

	.contentCard_about_content___6T1v h3 {
		font-size: 20px;
	}

	.contentCard_about_content___6T1v p {
		margin-top: 10px;
		font-size: 15px;
		line-height: 25px;
	}

	.contentCard_about_content___6T1v .contentCard_second__xjW2R {
		margin-top: 20px;
	}

	.contentCard_seventy_txt__C0EoA {
		height: 100%;
		margin-top: 5px;
	}

	.contentCard_img_container__cQuUc {
		height: 100%;
		border: 1px solid green;
	}

	.contentCard_self_img__tM5is {
		max-height: 300px;
	}
}

@media screen and (max-height: 500px) {
	.contentCard_campus_img__jD1NE {
		max-height: 30vh;
	}

	.contentCard_self_img__tM5is {
		max-height: 100%;
	}
	.contentCard_content__CyRmt p {
		font-size: 18px;
	}

	.contentCard_about_content___6T1v h3 {
		font-size: 18px;
	}

	.contentCard_about_content___6T1v p {
		font-size: 14px;
		margin-top: 5px;
		line-height: 22px;
	}

	.contentCard_about_content___6T1v .contentCard_second__xjW2R {
		margin-top: 10px;
	}

	.contentCard_seventy_txt__C0EoA {
		height: 100%;
	}
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/projectCard/projectCard.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.projectCard_card__F_eEC {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	min-width: 300px;
	max-width: 300px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 2px 3px #000;
	overflow: hidden;
	z-index: 0;
}

.projectCard_title__nGCMG {
	font-size: 30px;
	color: black;
	font-weight: bold;
	width: 90%;
	text-align: center;
}
.projectCard_card__F_eEC span {
	color: black;
	font-size: 15px;
	width: 95%;
	text-align: center;
	margin-top: 8px;
	font-weight: 300;
}

.projectCard_card__F_eEC .projectCard_lower_info__4CHiF p {
	font-size: 16px;
	color: black;
	width: 80%;
	text-align: center;
	height: 100%;
	margin-top: 15px;
}

.projectCard_card__F_eEC .projectCard_logo_row__ULrzA {
	height: 30px;
	width: 90%;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.projectCard_btn_row__YD5uE {
	display: flex;
	height: 42px;
	width: 80%;
	margin-bottom: 26px;
	margin-top: 31px;
	display: flex;
	justify-content: space-between;
}

.projectCard_btn_row__YD5uE a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	font-size: 16px;
	font-family: "Roboto";
	font-weight: 400;
	border: 1px solid black;
	border-radius: 4px;
	color: black;
	background-color: white;
}

.projectCard_black_btn__R3U9X {
	background-color: black !important;
	color: white !important;
}

.projectCard_btn_row__YD5uE a:hover {
	opacity: 0.7;
}

.projectCard_card_bottom___E9BG {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectCard_img_container__HTf2W {
	height: 200px;
	width: 95%;
	margin-top: 10px;
	padding-top: 10px;
}

.projectCard_upper_info___jPmP {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectCard_lower_info__4CHiF {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: center;
}

.projectCard_card__F_eEC:hover {
	transform: scale(1.02);
}

@media screen and (max-height: 500px) {
	.projectCard_card__F_eEC {
		max-width: 250px;
		min-width: 250px;
		max-height: 350px;
	}

	.projectCard_title__nGCMG {
		font-size: 18px;
	}

	.projectCard_img_container__HTf2W {
		border: 1px solid red;
		height: -moz-fit-content;
		height: fit-content;
		padding-top: 2px;
	}

	.projectCard_logo_row__ULrzA {
		display: none !important;
	}

	.projectCard_btn_row__YD5uE {
		height: 30px;
		margin: 5px;
	}

	.projectCard_lower_info__4CHiF p {
		margin-top: 5px !important;
		font-size: 14px !important;
		max-height: 80px !important;
		overflow: hidden;
	}

	.projectCard_upper_info___jPmP span {
		margin-top: 0px;
	}
}

@media screen and (max-width: 800px) {
	.projectCard_card__F_eEC {
		max-height: 570px;
	}

	.projectCard_btn_row__YD5uE {
		margin-top: 15px;
	}
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/carousel/carousel.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.carousel_main__hJ_5R {
	gap: 25px;
	align-items: center;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: visible;
	justify-content: flex-start;
	flex-wrap: nowrap;
	margin-top: 40px;
	width: 95%;
	height: 100%;
	max-height: 620px;
	padding: 1rem;
	animation: carousel_visible__wcEOh 0.5s ease-in-out 1, carousel_scaleUp__12s_Y 0.4s ease-out 1;
}

@media screen and (max-height: 500px) {
	.carousel_main__hJ_5R {
		margin-top: 10px;
		max-height: 500px;
	}
}

@media screen and (max-width: 800px) {
	.carousel_main__hJ_5R {
		margin-top: 10px;
		max-height: 590px;
		width: 95%;
	}
}

